.main-header{
    display: flex;
    background-color: #e7e7e7;
    height: 80px;
}
.main-logout-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-logged-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}